extends layout

block content
    section.bg-blue
        h1= doodle.title
    section.container
        form(action='/user-new', method='POST')
            table.poll
                thead
                    tr
                        th
                        each date in doodle.dates
                            th
                                .date-container
                                    .month #{moment(date).format('MMM')}
                                    .date #{moment(date).format('D')}
                                    .day #{moment(date).format('dddd')}
                        th
                tbody
                    if doodle.users
                        each user in doodle.users
                            tr
                                td
                                    .user-container
                                        img(src='https://www.gravatar.com/avatar/' + md5(user.email) + '?d=retro&s=32')
                                        span= user.name
                                each date in doodle.dates
                                    - let checked = user.dates !== undefined && user.dates.includes(date)
                                    td(class=checked?'available':'unavailable')
                                        i.fa.fa-3x(class=checked?'fa-times-circle':'fa-check-circle')
                                td
                                    a(href='#')
                                        i.fa.fa-2x.fa-edit
                    tr
                        td
                            .user-form-container
                                input(type='email', name='email', placeholder='Email', required)
                                input(type='text', name='name', placeholder='Nom Prénom', required)
                        each date in doodle.dates
                            td
                                input(type='checkbox', name='dates[]', value=date)
                        td
                            // parsing doodle id with hidden input
                            input(type='hidden', name='id', value=doodle._id)
                            button.button.button-primary(type='submit')
                                i.fa.fa-2x.fa-save
